@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable::-webkit-scrollbar {
    width: 1px;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background-color: transparent;
  }

/* styled components */

.styled_input {
    @apply w-full my-2 px-4 py-2 border rounded-md focus:outline-none focus:border-[#0dceda];
}

.styled_label {
    @apply block font-bold text-gray-700 px-1 whitespace-nowrap;
}

.styled_textarea{
    @apply w-full my-2 px-4 py-2 resize-none border rounded-md focus:outline-none focus:border-[#0dceda];
}

.styled_dropdown {
    @apply w-full my-2 px-4 py-2 border rounded-md bg-white text-gray-800 focus:outline-none focus:border-[#0dceda];
}

.loader_container {
    @apply fixed top-0 left-0 h-screen w-screen flex items-center justify-center bg-gray-800 bg-opacity-50 z-50;
}

.loader_main {
    @apply animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-[#0dceda];
}

.generate_btn_span {
    @apply flex justify-center items-center;
}


/* header */

.header_container {
    @apply bg-white shadow-md p-4 text-[#0dceda];
}

.header_container_div {
    @apply container mx-auto flex items-center cursor-pointer;
}

.header_img {
    @apply h-12 w-12 mr-2;
}

.header_title {
    @apply text-2xl font-semibold;
}



/* sidebar */

.sidebar_container {
    @apply w-full lg:w-2/5 min-h-[570px] bg-white p-4 rounded-lg shadow-md;
}

.sidebar_div1 {
    @apply flex gap-4;
}

.sidebar_div2 {
    @apply w-full flex gap-4;
}


/* Home main */

.home_main_container {
    @apply w-full lg:w-3/4 min-h-[570px] bg-white p-4 lg:ml-4 my-4 lg:my-0 rounded-lg shadow-md;
}

.home_main_subdiv {
    @apply px-6 py-5 whitespace-pre-line text-gray-400 h-full;
}

.email_subject_container {
    @apply flex items-center;
}

.email_subject {
    @apply text-2xl font-semibold text-[#0dceda];
}

.copy_btn {
    @apply ml-4 w-7 h-7 rounded bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.copy_btn_img {
    @apply h-[80%] w-[80%] object-contain;
}

.home_divider {
    @apply mt-2 border-t border-gray-300
}

.email_content {
    @apply mt-[20px] h-[calc(100%-60px)] overflow-y-auto scrollable;
}